.commentForm {
    width: 100%;
    display: flex;
    font-family: 'Montserrat';
    margin-top: 1rem;
    .textAreaWrapper {
        position: relative;
        width: 100%;
        margin-right: 1rem;
        .commentInput {
            color: white;
            padding: 0.1rem;
            background-color: transparent;
            outline: 0;
            border: 0;
            resize: none;
            width: 100%;
            position: relative;
        }
        .textCounter {
            font-size: 12px;
            position: absolute;
            bottom: -0.7rem;
            right: 0
        }
    }
    .submitButton {
        cursor: pointer;
        background-color: transparent;
        outline: 0;
        border: 0;
        color: #008ce7;
        text-transform: capitalize;
        font-weight: 700;
    }
    .submitButton:hover {
        color: white;
    }
}

