@import "../scss/variables.scss";

.header {
  width: 300px;
  height: 100vh;
  position: sticky;
  float: right;
  border-right: 1px solid $border-grey;
  padding: 2rem 0 2rem 1rem;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  gap: 1rem;
  a {
    cursor: pointer;
    text-decoration: none;
  }

  img {
    max-width: 100%;
    height: auto;
  }

  .logo {
    padding-bottom: 2rem;

    .logoIconDesktop {
      width: 90%;
    }

    .logoIcon {
      display: none;
    }
  }

  .logo:active {
    filter: brightness(0) saturate(100%) invert(68%) sepia(4%) saturate(19%)
      hue-rotate(319deg) brightness(90%) contrast(92%);
  }
}

svg {
  width: 1.8rem;
  height: 1.8rem;
}

@media screen and (max-width: $breakpoint-lg) {
  .header {
    padding: 0;
    align-items: center;
    width: 100px;

    span {
      display: none;
    }

    .logo {
      margin-top: 40px;
      width: 50px;

      .logoIconDesktop {
        display: none;
      }

      .logoIcon {
        display: block;
        width: 48px;
      }
    }
  }
}

@media screen and (max-width: $breakpoint-sm) {
  .header {
    height: 90px;
    width: 100%;
    flex-direction: row;
    justify-content: space-evenly;
    position: fixed;
    bottom: 0;

    .logo {
      display: none;
    }
  }
}
