@import "../../../scss/variables.scss";

.headerButton {
  cursor: pointer;
  width: 90%;
  border: 1px solid $border-grey;
  border-radius: 1.4rem;
  padding: 0 1rem;
  height: 3rem;
  outline: 0;
  font-family: "Satoshi 400";
  color: $icon-white;
  display: flex;
  align-items: center;
  background-color: transparent;
  text-transform: capitalize;
  font-size: 1.2rem;
  gap: 1rem;
  svg {
    transition: scale 0.2s ease-in-out;
    width: 26px;
    height: 26px;
  }
  svg:hover {
    scale: 1.2;
  }
}

.headerButton:active {
  color: $icon-grey;
  svg {
    filter: brightness(0) saturate(100%) invert(68%) sepia(4%) saturate(19%)
      hue-rotate(319deg) brightness(90%) contrast(92%);
  }
}

.headerButton:hover {
  svg {
    scale: 1.1;
  }
}

.headerButton.active {
  font-family: "Satoshi 700";
}

@media screen and (max-width: 1200px) {
  .headerButton {
    margin: 0;
    border: none;
    justify-content: center;
    padding: 0;
    width: 48px;
  }
}
